
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(2, 2, 2);
    color:   white;
}
.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
h1{
    margin-top: 1em;
}
.SaibaMais {
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
}

.Sobre{
    text-align: center;
    margin-bottom: 2em;
}
.Vitrine {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.row {
    display: flex;
    flex-direction: row;
}


.desenv {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
    text-align: center;
    background-color: rgba(103, 8, 141, 0.7);
    color:   white;
    width: 20em;
    height: 15em;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(2, 2, 2);
    border-radius: 1px;
    border-image: initial;
    padding: 10px;
}


.grow {
    flex-grow: 1;
}

.proj1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(103, 8, 141, 0.7)), url(firstLanding.png);
    background-size: cover;
    color:   white;
    background-repeat: no-repeat;
}

.proj2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(103, 8, 141, 0.7)), url(logoGenerator.png);
    background-size: cover;
    color:   white;
    background-repeat: no-repeat;
}

.proj3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(103, 8, 141, 0.7)), url(notebooksPython.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.proj1 a, .proj2 a, .proj3 a, .proj4 a, .proj5 a{
    color:   white;
    text-decoration: none;
}

a{
    color:   white;
}

span, .Sobre a, .SaibaMais a{
    color:#6e44ff;
}

@media screen and (max-width: 1021px){

    .Vitrine {
        display: flex;
        flex-direction: column;
}
.row {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.desenv {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 75vw;
    height: 15em;
    margin-left: 0.625em;
    margin-right: 0.625em;
}

}