* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
  --bg-color: #00000085;
  --primary-color: #5d00bbbb;
  --destaque:  #BEFC00;
  --text-color:white;
}

/* Utilities */
.grow {
  flex-grow: 1;
}
/* /////// */

a {
  color: var(--text-color);
}

body {
  /* background-color: var(--bg-color); */
   background-image: linear-gradient(rgba(0, 0, 0, 0.582),rgba(0, 0, 0, 0.582)),
    url(./assets/backgroundimg.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--text-color);
}

.Container {
  display: flex;
  max-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.someContainer  {
  display: flex;
  margin-top: 1em;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

}

.someContainer .text {
  color: var(--text-color);

}
.someContainer h2 {
  margin: 1em 0;
  color: var(--text-color);
}

.Container .contentContainer {
  display: flex;
  justify-content: center;
  width: 70%;
  flex-direction: column;
}





.Sobre {
  background: var(--primary-color);
  border-radius: 0.625em;
  font-size: 1em;

  
}

.sobre ul {
  padding: 1em;
}
.sobre ul li {
  margin-left: 2em;
  margin-top: 1em;
  color: var(--text-color);
  list-style: square;
}
.Vitrine {
  display: grid;

}

.Vitrine .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Vitrine .row .desenv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 100%;
  height: 16em;
  border-width: 2px;
  border-style: solid;
  border-color: var(--bg-color);
  border-radius: 1px;
  padding: 10px;
}

.Vitrine .row .desenv a:hover {
  transform: scale(1.1);
}
/* linear-gradient(var(--bg-color),var(--primary-color), */
.Vitrine .row .proj1 {
  background-image: linear-gradient(var(--primary-color),var(--bg-color)),
    url(./assets/firstLanding.png);
  background-size: cover;
  color: var(--destaque);
  background-repeat: no-repeat;
  text-decoration: none;
}

.Vitrine .row .proj2 {
  background-image: linear-gradient(var(--primary-color),var(--bg-color)),
    url(./assets/logoGenerator.png);
  background-size: cover;
  color: var(--destaque);
  background-repeat: no-repeat;
}

.Vitrine .row .proj3 {
  background-image: linear-gradient(var(--primary-color),var(--bg-color)),
    url(./assets/notebooksPython.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.Vitrine .row .proj2 {
  background-image: linear-gradient(var(--primary-color),var(--bg-color)),
    url(./assets/logoGenerator.png);
  background-size: cover;
  color: var(--destaque);
  background-repeat: no-repeat;
}

.Vitrine .row .proj3 {
  background-image: linear-gradient(var(--primary-color),var(--bg-color)),
    url(./assets/notebooksPython.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.Vitrine .row .proj4 {
  background-image: linear-gradient(var(--primary-color), var(--destaque)),
    url(./assets/logoGenerator.png);
  background-size: cover;
  color: var(--text-color);
  background-repeat: no-repeat;
}

.Vitrine .row .proj5 {
  background-image: linear-gradient(var(--bg-color), var(--primary-color)),
    url(notebooksPython.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.proj1 a,
.proj2 a,
.proj3 a,
.proj4 a,
.proj5 a {
  color: var(--text-color);
}

footer {
  margin-bottom: 0;
}

.imgSobre{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top:1em;
}
.imgSobre img {
  border-radius: 50px;
  width: 13.25rem;
  height: 14.5rem;
  box-shadow: 0.5em 0.5em var(--destaque);

}

.saibaMais {
  padding: 2em;
  text-align: center;
  box-sizing: border-box;
}

#nav {
  color: var(--text-color);
}

.saibaMais .text #github, strong{
  color: var(--destaque);
}

.menuBurguer{
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  cursor: pointer;
}
.menuBurguerLinha {
  height: 0.2em;
  width: 1.5em;
  border-radius: 4em;
  background-color: var(--text-color);
}

.openedmenu{
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: none;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;

}
@media screen and (max-width: 1021px) {
  .Vitrine {
    display: flex;
    flex-direction: column;
  }
  .Vitrine .row {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .Vitrine .row .desenv {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 15em;
    margin-left: 0.625em;
    margin-right: 0.625em;
  }
  .imgSobre img {
    border-radius: 50px;
    transform: scale(0.8);
    box-shadow: 0.5em 0.5em var(--destaque);
  
  }
  .someContainer  {
    display: flex;
    margin-top: 1em;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }  
  .Container .contentContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }

}
